<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&#xd;
fsdfsd</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description>Represents full version of the build.
Must be in XX.YY.ZZ.VVVVV format.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>team.scm.workspaceUUID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>team.scm.fetchDestination</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>buildRequesterUserId</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>buildResultUUID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>buildDefinitionId</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>repositoryAddress</name>
          <description></description>
          <defaultValue>http://clm.kla-tencor.com/ccm/</defaultValue>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>buildEngineHostName</name>
          <description></description>
          <allowedSlaves>
            <string>scm-builds-06</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>scm-builds-06</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDRELEASE</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDDEBUG</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDCONTROLLERFDC</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDCONTROLLERFZC</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDCONTROLLERIMC</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDCONTROLLERSTAGE	</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDCONTROLLERUMC</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTODELIVER</name>
          <description></description>
          <defaultValue>FALSE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTOINSTALLATION</name>
          <description></description>
          <defaultValue>FALSE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>StartFromSolution</name>
          <description>BuildMatlabDiagnostics&lt;BR&gt;BuildCommonTypes&lt;BR&gt;BuildProxy&lt;BR&gt;BuildCommon
&lt;BR&gt;BuildInfrastructure&lt;BR&gt;BuildNGPlatformContracts&lt;BR&gt;BuildCodeGeneration
&lt;BR&gt;BuildNGPlatformUtilities&lt;BR&gt;BuildNGPlatformComponents&lt;BR&gt;BuildNGPlatformRecipe
&lt;BR&gt;BuildNGPlatformScripting&lt;BR&gt;BuildUIServers&lt;BR&gt;BuildKernel&lt;BR&gt;BuildENV10
&lt;BR&gt;BuildToolSystemInfoPackage&lt;BR&gt;CommonUtilities&lt;BR&gt;BuildRTInfrastructure
&lt;BR&gt;BuildRTPlatform&lt;BR&gt;BuildNGiMetrologyContracts&lt;BR&gt;BuildLinnikCommonTypes
&lt;BR&gt;BuildNGLinnikContracts&lt;BR&gt;BuildNGLinnikHelpers&lt;BR&gt;BuildLinnikCommon&lt;BR&gt;
BuildNGLinnikMCommon&lt;BR&gt;BuildNGLinnikUtilities&lt;BR&gt;BuildNGLinnikComponents&lt;BR&gt;
BuildNGLinnikScripting&lt;BR&gt;BuildNGLinnikRecipe&lt;BR&gt;BuildMBSCommonTypes&lt;BR&gt;
BuildNGMBSContracts&lt;BR&gt;BuildNGMBSHelpers&lt;BR&gt;BuildMBSCommon&lt;BR&gt;BuildNGMBSMCommon
&lt;BR&gt;BuildNGMBSUtilities&lt;BR&gt;BuildNGMBSComponents&lt;BR&gt;BuildNGMBSScripting&lt;BR&gt;
BuildNGMBSRecipe&lt;BR&gt;BuildCommonOVL_Common&lt;BR&gt;BuildNGCommonOVLContracts&lt;BR&gt;
BuildNGCommonOVLComponents&lt;BR&gt;BuildNGCommonOVLRecipe&lt;BR&gt;BuildOVLCommon&lt;BR&gt;
BuildNexGOCommon&lt;BR&gt;BuildXYSAIMCommon&lt;BR&gt;BuildMOLCommon&lt;BR&gt;BuildBLOCommon&lt;BR&gt;
BuildBFCDCommon&lt;BR&gt;BuildArcherCommon&lt;BR&gt;BuildJIGCommon&lt;BR&gt;BuildJ1Common&lt;BR&gt;
BuildJ2Common&lt;BR&gt;BuildAIMidMLCommon&lt;BR&gt;BuildAROLCommon&lt;BR&gt;BuildLinnikUIServers&lt;BR&gt;
BuildOVLUIServers&lt;BR&gt;BuildMOLUIServers&lt;BR&gt;BuildBLOUIServers&lt;BR&gt;BuildMBSUIServers&lt;BR&gt;
BuildNGAROLContracts&lt;BR&gt;BuildNGAROLUtilities&lt;BR&gt;BuildNGAROLComponents&lt;BR&gt;BuildNGAROLScripting
&lt;BR&gt;BuildNGAROLRecipe&lt;BR&gt;BuildAROLUIServers&lt;BR&gt;BuildAIMidMLUIServers&lt;BR&gt;BuildArcherKernel&lt;BR&gt;
BuildLinnikKernel&lt;BR&gt;BuildiMetrologyCommon&lt;BR&gt;BuildNGiMetrologyComponents&lt;BR&gt;BuildiMetrologyKernel
&lt;BR&gt;BuildIMAdapter&lt;BR&gt;BuildMBSKernel&lt;BR&gt;BuildCommonOVLKernel&lt;BR&gt;BuildOVLKernel&lt;BR&gt;BuildAROLKernel
&lt;BR&gt;BuildLinnikApps&lt;BR&gt;BuildMBSApps&lt;BR&gt;BuildCommonOVLApps&lt;BR&gt;BuildAROLApps&lt;BR&gt;BuildArcherApps&lt;BR&gt;
BuildOVLApps&lt;BR&gt;BuildNGOVLContracts&lt;BR&gt;BuildNGOVLRecipe&lt;BR&gt;BuildNGOVLComponents&lt;BR&gt;BuildNGOVLScripting
&lt;BR&gt;BuildNexGOUIServers&lt;BR&gt;BuildXYSAIMUIServers&lt;BR&gt;BuildBFCDUIServers&lt;BR&gt;BuildNexGOKernel&lt;BR&gt;
BuildXYSAIMKernel&lt;BR&gt;BuildMOLKernel&lt;BR&gt;BuildBLOKernel&lt;BR&gt;BuildBFCDKernel&lt;BR&gt;BuildNexGOENV10&lt;BR&gt;
BuildNGNexGOContracts&lt;BR&gt;BuildNGNexGOComponents&lt;BR&gt;BuildNGAIMScripting&lt;BR&gt;BuildXYSAIMApps&lt;BR&gt;
BuildNGXYSAIMContracts&lt;BR&gt;BuildNGXYSAIMComponents&lt;BR&gt;BuildNGXYSAIMScripting&lt;BR&gt;BuildMOLApps&lt;BR&gt;
BuildBLOApps&lt;BR&gt;BuildNGMOLContracts&lt;BR&gt;BuildNGMOLComponents&lt;BR&gt;BuildNGMOLScripting&lt;BR&gt;BuildNGBLOContracts
&lt;BR&gt;BuildNGBLOComponents&lt;BR&gt;BuildNGBLOScripting&lt;BR&gt;BuildAIMidMLKernel&lt;BR&gt;BuildAIMidMLApps&lt;BR&gt;BuildNGMOLMLContracts
&lt;BR&gt;BuildNGMOLMLComponents&lt;BR&gt;BuildNGAIMidMLScripting&lt;BR&gt;BuildBFCDApps&lt;BR&gt;BuildJ1Kernel&lt;BR&gt;BuildJ2Kernel&lt;BR&gt;
BuildJ1Apps&lt;BR&gt;BuildJ2Apps&lt;BR&gt;BuildJIGApps&lt;BR&gt;BuildiMetrologyApps&lt;BR&gt;BuildRTLinnik&lt;BR&gt;BuildRTMBS&lt;BR&gt;CopyBuild</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>team.scm.snapshotUUID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.9.0">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>ECHO %Nightly%&#xd;
SET BUILDVERSION=%BUILD_VERSION%&#xd;
SET team_scm_snapshotUUID=%team.scm.snapshotUUID%&#xd;
SET team_scm_fetchDestination=%team.scm.fetchDestination%&#xd;
SET team_scm_workspaceUUID=%team.scm.workspaceUUID%&#xd;
CALL %team_scm_fetchDestination%\OMD_Builds\JenkinsBuild\BatchFiles\DoFullBuild.bat</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <EnvInjectBuildWrapper plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>C:\Build\Env.properties</propertiesFilePath>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>